@import "./variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: var(--color-background);

  color: var(--color-text);

  font-family: var(--font-family);

  line-height: var(--line-height-normal);

  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}